.table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 60px;
  }
  
  .table th,
  .table td {
    border: 1px solid #f5f1f1;
    padding: 20px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f0f0;
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #fbf6f6;
  }
  
  .table tbody tr:hover {
    background-color: #fdfcfc;
  }
.h2{
  text-align: center;
}
